.token-selector-header {
    border-bottom: 1px solid grey;
    color: white;
}

.token-selector-list {
    max-height: 50vh;
    overflow-y: scroll;
}

.token-option {
    cursor: pointer;
    color: gainsboro;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.token-option:hover {
    opacity: .5;
}

.token-selection-window {
    margin-top: 50px;
    width: 90%;
}

.background-override {
    background-color: rgb(33, 36, 41) !important;
    border: none !important;
    cursor: pointer;
    color: darkgrey !important;
}

.modal-content {
    background-color: rgb(25, 27, 31) !important;
    overflow: hidden auto;
    border-radius: 20px;
}