.my-node {
    position: absolute;
    width: 333px;
    bottom: 190px;
    height: 30px;
}

.slowly-expand {
    animation: increase-height-keyframes 500ms;
}
@keyframes increase-height-keyframes {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.move {
    width: 333px;
    height: 30px;
    margin-top: 10px;
    animation: move-down-keyframes 500ms;
}

@keyframes move-down-keyframes {
    from {
        bottom: 190px
    }
    to {
        bottom: 90px
    }
}

.canhhh {
    transform: translate3d(10px, 10px, 0px) !important;
    z-index: 10;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.16), inset 0 0 3px 1px rgba(0, 0, 0, 0.21);
    border: solid 1px #e2e1e2;
    background-color: #fff;
}
.dropdown {
    position: initial !important; /*overriding position: absolute setting*/
}
.dropdown-menu {
    min-width: initial;
}
.dropdown-item {
    padding: 10px !important;
}
.list-unstyled {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

.no-visibility {
    display: none;
}

/*.wrapper {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #afafaf;*/
/*}*/

/*.step {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    background: #fff;*/
/*}*/

/*.step-body {*/
/*    flex: 1;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

/*.step-actions {*/
/*    display: inline-flex;*/
/*    justify-content: space-between;*/
/*    margin: 0 2rem 1rem;*/
/*}*/

/*.step-button {*/
/*    padding: 0.5rem 1rem;*/
/*    border: none;*/
/*}*/