.modal {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("../../../resources/gears-bottom-right-corner.svg");
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
}

.modal-main {
    scrollbar-width: none; /*FireFox*/
    -ms-overflow-style: -ms-autohiding-scrollbar; /*IE10+*/
    position:fixed;
    width: auto;
    height: 100vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.modal-main::-webkit-scrollbar {
    display: none;
}

.not-showing {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}
.showing {
    visibility: visible;
    transition: visibility 0.25s, opacity 0.25s linear;
    opacity: 1;
}