@font-face {
  font-family: "EthnocentricRg-Regular";
  src: url("./assets/fonts/ethnocentricRg.ttf");
}

.confirm-box {
  left: 35% !important;
  top: 10% !important;
  width: 50% !important;
  z-index: 10000 !important;
}
